In [2]:
import pandas as pd

df = pd.read_csv('data/match_data.csv')

df.head()

,match,dayofweek,match_time,home_team,away_team,home_xg,away_xg,score,attendance,venue,...,home_clearances,away_clearances,home_offsides,away_offsides,home_gks,away_gks,home_throw_ins,away_throw_ins,home_long_balls,away_long_balls
0,1,Sun,2022-11-20 19:00:00,Qatar,Ecuador,0.3,1.2,0–2,67372,Al Bayt Stadium,...,18,7,3,4,4,7,20,17,51,70
1,2,Mon,2022-11-21 16:00:00,England,IR Iran,2.1,1.4,6–2,45334,Khalifa International Stadium,...,4,23,2,2,5,5,18,17,87,50
2,3,Mon,2022-11-21 19:00:00,Senegal,Netherlands,0.9,0.7,0–2,41721,Al Thumama Stadium,...,32,16,2,1,6,10,17,28,64,66
3,4,Mon,2022-11-21 22:00:00,United States,Wales,0.8,1.5,1–1,43418,Ahmed bin Ali Stadium,...,18,31,1,1,5,10,22,25,56,90
4,5,Tue,2022-11-22 13:00:00,Argentina,Saudi Arabia,2.2,0.1,1–2,88012,Lusail Iconic Stadium,...,11,26,10,1,3,9,24,13,55,59

In [6]:
df[['home_team', 'away_team', 'score']]

        home_team     away_team        score
0           Qatar       Ecuador          0–2
1         England       IR Iran          6–2
2         Senegal   Netherlands          0–2
3   United States         Wales          1–1
4       Argentina  Saudi Arabia          1–2
..            ...           ...          ...
59        England        France          1–2
60      Argentina       Croatia          3–0
61         France       Morocco          2–0
62        Croatia       Morocco          2–1
63      Argentina        France  (4) 3–3 (2)

[64 rows x 3 columns]

In [25]:
from difflib import get_close_matches

def find_matches(team_name):
    return get_close_matches(team_name, df['home_team'].unique())


find_matches('south korea')

[]

In [28]:
a = df.home_team.unique()
a.sort()
a

array(['Argentina', 'Australia', 'Belgium', 'Brazil', 'Cameroon',
       'Canada', 'Costa Rica', 'Croatia', 'Denmark', 'Ecuador', 'England',
       'France', 'Germany', 'Ghana', 'IR Iran', 'Japan', 'Korea Republic',
       'Mexico', 'Morocco', 'Netherlands', 'Poland', 'Portugal', 'Qatar',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Spain', 'Switzerland',
       'Tunisia', 'United States', 'Uruguay', 'Wales'], dtype=object)

In [48]:
from bs4 import BeautifulSoup
import requests
import re
content = requests.get('https://en.wikipedia.org/wiki/Gallery_of_sovereign_state_flags')

soup = BeautifulSoup(content.text, 'lxml')
images = [x.get('src')[2:] for x in soup.find_all('img', {'class': 'mw-file-element'}) if 'Flag' in x.get('src') ] 
flags_folder = 'flags'
for x in images:
    name = re.findall(r'Flag_of_(.*)\.svg', x)[0].split('.')[0].split('_%')[0].replace('_', ' ').lower()
    with open(f'{flags_folder}/{name}.png', 'wb') as f:
        f.write(requests.get(f'https://{x}').content)

In [49]:
#change the name of every flag file into the same name but with the first letter being capital
import os
for filename in os.listdir('flags'):
    os.rename(f'flags/{filename}', f'flags/{filename.title()}')